@page "/" 
@page "/people"

<TableTemplate RowType="Person" RowData="People">
    <TableHeader>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dept</th>
            <th>Locatiom</th>
            <th></th>
        </tr>
    </TableHeader>
    <RowTemplate Context="p">
        <td>@p.PersonId</td>
        <td>@p.Surname, @p.Firstname</td>
        <td>@p.Department.Name</td>
        <td>@p.Location.City, @p.Location.State</td>
        <td>
            <NavLink href="@GetEditUrl(p.PersonId)" class="btn btn-primary">Edit</NavLink>
        </td>
    </RowTemplate>
</TableTemplate>

<NavLink class="btn btn-primary" href="/depts">Departments</NavLink>

@code {
    [Inject]
    public DataContext Context { get; set; }

    public IEnumerable<Person> People => Context.People
        .Include(p => p.Department)
        .Include(p => p.Location);

    public string GetEditUrl(long id) => $"/person/{id}";
}