@page "/" 
@page "/people"

<TableTemplate RowType="Person" RowData="People">
    <TableHeader>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dept</th>
            <th>Locatiom</th>
        </tr>
    </TableHeader>
    <RowTemplate Context="p">
        <td>@p.PersonId</td>
        <td>@p.Surname, @p.Firstname</td>
        <td>@p.Department.Name</td>
        <td>@p.Location.City, @p.Location.State</td>
    </RowTemplate>
</TableTemplate>

<ThemeWrapper Theme="info" Title="Location selector">
    <SelectFilter Title="@SelectTitle" Values="@Cities" @bind-SelectedValue="SelectedCity" autofocus="true" name="city" required="true" />

    <button @onclick="@(() => SelectedCity = "San Jose")" class="btn btn-primary mt-2">Change</button>
</ThemeWrapper>

<NavLink class="btn btn-primary" href="/depts">Departments</NavLink>

@code {
    [Inject]
    public DataContext Context { get; set; }

    public IEnumerable<Person> People => Context.People
        .Include(p => p.Department)
        .Include(p => p.Location)
        .Take(ItemCount);

    public IEnumerable<string> Cities => Context.Locations.Select(l => l.City);

    public string SelectedCity { get; set; }

    [Parameter]
    public int ItemCount { get; set; } = 4;

    [Parameter]
    public string SelectTitle { get; set; }

    public string GetClass(string city) => SelectedCity == city ? "bg-info text-white" : "";
}