<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dept</th>
            <th>Locatiom</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in People)
        {
            <tr class="@GetClass(p.Location.City)">
                <td>@p.PersonId</td>
                <td>@p.Surname, @p.Firstname</td>
                <td>@p.Department.Name</td>
                <td>@p.Location.City, @p.Location.State</td>
            </tr>
        }
    </tbody>
</table>

<SelectFilter Title="@SelectTitle" Values="@Cities" autofocus="true" name="city" required="true" />

@code {
    [Inject]
    public DataContext Context { get; set; }

    public IEnumerable<Person> People => Context.People
        .Include(p => p.Department)
        .Include(p => p.Location)
        .Take(ItemCount);

    public IEnumerable<string> Cities => Context.Locations.Select(l => l.City);

    public string SelectedCity { get; set; }

    [Parameter]
    public int ItemCount { get; set; } = 4;

    [Parameter]
    public string SelectTitle { get; set; }

    public string GetClass(string city) => SelectedCity == city ? "bg-info text-white" : "";
}