<h3>SelectFilter</h3>
<div class="form-group">
    <label for="select-@Title">@Title</label>
    <select name="select-@Title" @bind="SelectedValue" @attributes="Attrs" class="form-control">
        <option disabled selected>Select @Title</option>
        @foreach (var val in Values)
        {
            <option value="@val" selected="@(val == SelectedValue)">@val</option>
        }
    </select>
</div>

@code {
    [Parameter]
    public IEnumerable<string> Values { get; set; } = Enumerable.Empty<string>();

    public string SelectedValue { get; set; }

    [Parameter]
    public string Title { get; set; } = "Placeholder";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attrs { get; set; }
}
